# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# VS Code settings
.vscode/

# PyInstaller build folders
build/
dist/
*.spec

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Mac files
*.DS_Store

# Python bytecode
*.pyc

# Optional: Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Optional: if using pipenv
Pipfile.lock

# Optional: if using poetry
poetry.lock
